# Node related
**/node_modules
npm-debug.log
package-lock.json

# IDEs and editors
.idea/*
.vscode/*
/venv/*
.prettierrc.json

#  Local .terraform directories
**/.terraform
**/.backup
**/saml-metadata

# .tfstate files
*.tfstate*

# .tfplan files
*.tfplan*

# .tfvars files
*.tfvars

# .tfimport files
*.tfimport
